.contenedor{
    display: flex;
}

p{
    color: white;
}

h2{
    color: white;
}

.columnas1, .columnas2{
    width: 50%;
}

.columnas1{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.jugador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #888888;
    box-shadow: -5px 5px 2px #888888;
}

.jugador .imagen, .jugador .grafico{
    width: 50%;
}

.columnas1 .imagen, .columnas1 .imagen img{
    border: 1px solid #FFF;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

.jugadores{
    text-align: center;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 15px;
    box-shadow: -5px 5px 2px #888888;
    background-color: #222D32;
}

.lista{
    height: 185px;
    overflow-y: scroll;
}

.jugadores .nombres{
    display: block;
    width: 100%;
    border-top: 1px solid #FFF;
    background-color: #374850;
    margin: 1px 0;
}

.columnas2 .caracteristicas{    
    padding-left: 5px;    
    border: 1px solid transparent;
    box-shadow: -5px 5px 2px #888888;
    border-radius: 5px;
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-top: 15px;
    background-color: #222D32;
}

.columnas2 .etiquetas, .columnas2 .datos{
    display: inline-block;
    width: 49%;
    margin: 1px 0;    
}

.columnas2 h2{
    border-bottom: 1px solid white;
}

.columnas2 p{
    color: white;
}

/*********************************************/

footer{
    display: flex;
    justify-content: center;
}